<form class="genesys effect-sheet" autocomplete="off">
	<header class="{{#if (eq hasDecoration true)}}with-decoration{{/if}}">
		<img src="{{ data.img }}" data-edit="img" title="{{ label }}" />
		<input type="text" name="name" value="{{ data.name }}" placeholder="{{ localize 'Genesys.Labels.Name' }}" />
		{{#if (eq hasDecoration true)}}
			{{>decoration}}
		{{/if}}
	</header>

	<nav class="sheet-tabs" data-group="primary">
		<div class="spacer"></div>

		<a class="item" data-tab="details">
			<i class="fas fa-book"></i> {{localize 'Genesys.Tabs.Details'}}
		</a>

		<a class="item" data-tab="duration">
			<i class="fas fa-clock"></i> {{localize 'Genesys.Tabs.Duration'}}
		</a>

		<a class="item" data-tab="effects">
			<i class="fas fa-cogs"></i> {{localize 'Genesys.Tabs.Effects'}}
		</a>

		<div class="spacer"></div>
	</nav>

	<section class="sheet-body">
		<div class="tab" data-group="primary" data-tab="details">
			<section class="data-grid">
				<div class="row">
					<label>{{localize 'EFFECT.IconTint'}}</label>
					<div class="tint-container">
                  <color-picker name="tint" value="{{ data.tint }}"></color-picker>
					</div>
				</div>

				<div class="row">
					<label>{{localize 'EFFECT.Disabled'}}</label>
					<div class="checkbox-container">
						<input type="checkbox" name="disabled" {{checked data.disabled}} />
					</div>
				</div>

				{{#if isActorEffect}}
					<div class="row">
						<label>{{localize 'EFFECT.Origin'}}</label>
						<input type="text" name="origin" value="{{data.origin}}" disabled />
					</div>
				{{/if}}

				{{#if isItemEffect}}
					<div class="row">
						<label>{{localize 'EFFECT.Transfer'}}</label>
						<div class="checkbox-container">
							<input type="checkbox" name="transfer" {{checked data.transfer}} />
						</div>
					</div>
				{{/if}}
			</section>
		</div>

		<div class="tab" data-group="primary" data-tab="duration">
			<section class="data-grid">
				<div class="row">
					<label>{{localize 'EFFECT.DurationSecs'}}</label>
					<input type="number" name="duration.seconds" value="{{data.duration.seconds}}" />
				</div>

				<div class="row">
					<label>{{localize 'EFFECT.StartTime'}}</label>
					<input type="number" name="duration.startTime" value="{{data.duration.startTime}}" />
				</div>

				<div class="row">
					<label>{{localize 'EFFECT.DurationTurns'}}</label>
					<div class="split">
						<label>{{localize 'COMBAT.Rounds'}}</label>
						<input type="number" name="duration.rounds" value="{{data.duration.rounds}}" />
						<label>{{localize 'COMBAT.Turns'}}</label>
						<input type="number" name="duration.turns" value="{{data.duration.turns}}" />
					</div>
				</div>

				<div class="row">
					<label>{{localize 'EFFECT.Combat'}}</label>
					<input type="text" name="duration.combat" value="{{data.duration.combat}}" disabled />
				</div>

				<div class="row">
					<label>{{localize 'EFFECT.StartTurns'}}</label>
					<div class="split">
						<label>{{localize 'COMBAT.Round'}}</label>
						<input type="number" name="duration.startRound" value="{{data.duration.startRound}}" />
						<label>{{localize 'COMBAT.Turn'}}</label>
						<input type="number" name="duration.startTurn" value="{{data.duration.startTurn}}" />
					</div>
				</div>
			</section>
		</div>

		<div class="tab" data-group="primary" data-tab="effects">
			<section class="effect-grid">
				<div class="header">
					<div>{{localize 'Genesys.ActiveEffects.ChangeKey'}}</div>
					<div>{{localize 'Genesys.ActiveEffects.ChangeMode'}}</div>
					<div>{{localize 'Genesys.ActiveEffects.ChangeValue'}}</div>
					<div>
						<a class="effect-control" data-action="add">
							<i class="far fa-plus-square"></i>
						</a>
					</div>
				</div>

				{{#each changes as |change i|}}
					<div class="row effect-change" data-index="{{i}}">
						{{#select change.key}}
							<select name="changes.{{i}}.key">
								<option value="">—</option>

                           {{!-- Characteristics Changes --}}
                           <optgroup label="{{localize 'Genesys.ActiveEffects.Types.ModifyCharacteristic'}}">
                              {{!-- Character & Adversary Characteristics --}}
                              <option value="system.characteristics.brawn">&#x1F9D1; {{localize 'Genesys.Characteristics.Brawn'}}</option>
                              <option value="system.characteristics.agility">&#x1F9D1; {{localize 'Genesys.Characteristics.Agility'}}</option>
                              <option value="system.characteristics.intellect">&#x1F9D1; {{localize 'Genesys.Characteristics.Intellect'}}</option>
                              <option value="system.characteristics.cunning">&#x1F9D1; {{localize 'Genesys.Characteristics.Cunning'}}</option>
                              <option value="system.characteristics.willpower">&#x1F9D1; {{localize 'Genesys.Characteristics.Willpower'}}</option>
                              <option value="system.characteristics.presence">&#x1F9D1; {{localize 'Genesys.Characteristics.Presence'}}</option>

                              {{!-- Vehicle Characteristics --}}
                              <option value="system.silhouette">&#x1F697; {{localize 'Genesys.Labels.Silhouette'}}</option>
                              <option value="system.speed">&#x1F697; {{localize 'Genesys.Labels.Speed'}}</option>
                              <option value="system.handling">&#x1F697; {{localize 'Genesys.Labels.Handling'}}</option>
                              <option value="system.defense">&#x1F697; {{localize 'Genesys.Labels.Defense'}}</option>
                              <option value="system.armor">&#x1F697; {{localize 'Genesys.Labels.Armor'}}</option>
                           </optgroup>

                           {{!-- Stat Changes --}}
                           <optgroup label="{{localize 'Genesys.ActiveEffects.Types.ModifyStat'}}">
                              {{!-- Characert and Adversary Secondary Stats --}}
                              <option value="system.soak">&#x1F9D1; {{localize 'Genesys.Labels.SoakValue'}}</option>
                              <option value="system.wounds.max">&#x1F9D1; {{localize 'Genesys.Labels.WoundThreshold'}}</option>
                              <option value="system.strain.max">&#x1F9D1; {{localize 'Genesys.Labels.StrainThreshold'}}</option>
                              <option value="system.defense.melee">&#x1F9D1; {{localize 'Genesys.Labels.MeleeDefense'}}</option>
                              <option value="system.defense.ranged">&#x1F9D1; {{localize 'Genesys.Labels.RangedDefense'}}</option>

                              {{!-- Vehicle Secondary Stats --}}
                              <option value="system.hullTrauma.max">&#x1F697; {{localize 'Genesys.Labels.HullTraumaThreshold'}}</option>
                              <option value="system.systemStrain.max">&#x1F697; {{localize 'Genesys.Labels.SystemStrainThreshold'}}</option>
                              <option value="system.passengers.value">&#x1F697; {{localize 'Genesys.Labels.Passengers'}}</option>
                              <option value="system.passengers.threshold">&#x1F697; {{localize 'Genesys.Labels.PassengerCapacity'}}</option>

                              {{!-- Shared Secondary Stats --}}
                              <option value="system.encumbrance.value">&#x1F310; {{localize 'Genesys.Labels.Encumbrance'}}</option>
                              <option value="system.encumbrance.threshold">&#x1F310; {{localize 'Genesys.Labels.EncumbranceThreshold'}}</option>
                           </optgroup>

                           {{!-- Skill Changes --}}

                           {{!-- Dice Pool Changes --}}
                           <optgroup label="{{localize 'Genesys.ActiveEffects.Types.ModifyDicePool.GroupLabel'}}">
                              {{!-- Modifications from the Roller --}}
                              <option value="genesys.pool.check.self">&#x1F447; {{localize 'Genesys.ActiveEffects.Types.ModifyDicePool.Options.Check'}}</option>
                              <option value="genesys.pool.char.self">&#x1F447; {{localize 'Genesys.ActiveEffects.Types.ModifyDicePool.Options.Characteristic'}}</option>
                              <option value="genesys.pool.skill.self">&#x1F447; {{localize 'Genesys.ActiveEffects.Types.ModifyDicePool.Options.Skill'}}</option>

                              {{!-- Modifications from the Target --}}
                              <option value="genesys.pool.check.target">&#x1F3AF; {{localize 'Genesys.ActiveEffects.Types.ModifyDicePool.Options.Check'}}</option>
                              <option value="genesys.pool.char.target">&#x1F3AF; {{localize 'Genesys.ActiveEffects.Types.ModifyDicePool.Options.Characteristic'}}</option>
                              <option value="genesys.pool.skill.target">&#x1F3AF; {{localize 'Genesys.ActiveEffects.Types.ModifyDicePool.Options.Skill'}}</option>
                           </optgroup>
							</select>
						{{/select}}
                  <div>
                     <div class="check-selection initial-hide {{#if (isSubstringOf 'genesys.pool.check.' change.key)}}show-it{{/if}}">—</div>
                     <select name="changes.{{i}}.char" class="characteristic-selection initial-hide {{#if (isSubstringOf 'genesys.pool.char.' change.key)}}show-it{{/if}}">
                           {{selectOptions ../characteristics selected=change.char sort=true}}
                     </select>
                     <select name="changes.{{i}}.skill" class="skill-selection initial-hide {{#if (isSubstringOf 'genesys.pool.skill.' change.key)}}show-it{{/if}}">
                           {{selectOptions ../skills selected=change.skill sort=true}}
                     </select>
                     <select name="changes.{{i}}.mode" data-dtype="Number" class="effect-mode initial-hide {{#if (not (isSubstringOf 'genesys.pool.' change.key))}}show-it{{/if}}">
                           {{selectOptions ../modes selected=change.mode}}
                     </select>
                  </div>
						<input type="text" name="changes.{{i}}.value" value="{{change.value}}" />
						<div class="effect-controls">
							<a class="effect-control" data-action="delete"><i class="fas fa-trash"></i></a>
						</div>
					</div>
				{{/each}}
			</section>
		</div>
	</section>

	<footer class="sheet-footer">
		<button type="submit"><i class="fas fa-save"></i> {{localize submitText}}</button>
	</footer>
</form>
